h1 { color: red;}

.klasse1 { background: green;}
.klasse2 { background: green;}
.klasse3 { background: green;}
.klasse4 { background: green;}
.klasse5 { background: green;}
.klasse6 { background: green;}
.klasse7 { background: green;}
.klasse8 { background: green;}
.klasse9 { background: green;}
.klasse10 { background: green;}
.klasse11 { background: green;}
.klasse12 { background: green;}
.klasse13 { background: green;}
.klasse14 { background: green;}
.klasse15 { background: green;}
.klasse16 { background: green;}
.klasse17 { background: green;}
.klasse18 { background: green;}
.klasse19 { background: green;}
/* uncss:ignore */
.klasse20 { background: green;}
.klasse21 { background: green;}
.klasse22 { background: green;}
.klasse23 { background: green;}
.klasse24 { background: green;}
.klasse25 { background: green;}
.klasse26 { background: green;}
.klasse27 { background: green;}
.klasse28 { background: green;}
.klasse29 { background: green;}
.klasse30 { background: green;}	
